src/main/mule/mynewgitproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a2b94c58-1178-44f7-9ab4-8877ee063c28" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mynewgitprojectFlow" doc:id="167bfd25-1a92-4d9d-8f76-9990b9618901" >
		<http:listener doc:name="Listener" doc:id="ae26640e-d6c6-4c42-914c-3aad0a098abc" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="Git Success" doc:name="Set Payload" doc:id="e6d9d083-b78e-4773-b5ac-01b1706d60ab" />
		<logger level="INFO" doc:name="Logger" doc:id="c9de62b9-900c-419c-ae26-8f27a787efce" message="#[payload]"/>
	</flow>
</mule>
